<nav class="navbar navbar-expand-md navbar-dark bg-custom justify-content-between m-0 p-1" >
  <a class="navbar-brand ps-4 fw-light fs-6" routerLink="/">Stock Search</a>
  <button class="navbar-toggler m-2 mt-1 mb-1" type="button" data-bs-toggle="collapse"
          data-bs-target="#navid" aria-label="Toggle navigation" aria-controls="navid" aria-expanded="false" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navid">
    <ul class="navbar-nav ms-5 me-5 ms-md-auto" style="font-size: small">
      <li>
        <a class="nav-link ps-3 pe-3" [routerLink]="['/', 'search', this.service.ticker? this.service.ticker : 'home']" [routerLinkActiveOptions]="{exact: false}"
           routerLinkActive="active">Search</a>
      </li>
      <li>
        <a class="nav-link ps-3 pe-3" [routerLink]="['/', 'watchlist']" routerLinkActive="active">Watchlist</a>
      </li>
      <li>
        <a class="nav-link ps-3 pe-3" [routerLink]="['/', 'portfolio']" routerLinkActive="active">Portfolio</a>
      </li>
    </ul>
  </div>

</nav>

