.bg-custom{
    background-color: #2628b3 !important;
}
.nav-custom{

  opacity: 1;
}

nav {
  background-color: #2628b3 !important;
}


.active {
  border-color: rgb(255, 255, 255) !important;
  color: rgb(255, 255, 255, 75%) !important;
}

li > a{
  border: 2px;
  border-color: #2628b3;
  border-radius: 15px;
  border-style: solid;

}
