<nav class="navbar navbar-dark bg-custom justify-content-between m-0 p-1" >
  <a class="navbar-brand ps-4 fw-light fs-6" href="#">Stock Search</a>
  <form class="form-inline ms-auto me-4">
    <button class="btn fw-light text-light nav-custom border-light" style="font-size: small" routerLink="search" id="searchTab">Search</button>
    <button class="btn fw-light text-light nav-custom mt-1" style="font-size: small" id="watchlistTab">Watchlist</button>
    <button class="btn fw-light text-light nav-custom mt-1s" style="font-size: small" id="portfolioTab">Portfolio</button>
  </form>s
</nav>
