.clickable:hover {
  cursor: pointer;
}
.btn.close{
  color: blue;
}
.text-truncated{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*.btn-custom:focus{*/
/*  outline: none;  }*/
