<div class="container-fluid">
  <div class="row mt-4 mt-md-4 mb-2 mb-md-2">
    <div class="col-12 text-center">
      <h1 class="fw-normal">STOCK SEARCH</h1>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-4 col-10">
      <form class="col-10 m-2 border-search rounded-5 ps-2 pe-2 m-auto">
        <div class="input-group">
          <input type="text" class="form-control border-0 pt-1 pb-1" [ngModel]="tickerInput" name="symbol" placeholder="Enter stock ticker symbol" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="onEnter()" >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option  *ngIf="loading"  ><mat-spinner diameter="30"></mat-spinner></mat-option>
            <mat-option *ngFor="let option of options" [value]="option.symbol"><a class="text-black text-decoration-none" [routerLink]="['/', 'search', option.symbol]">{{option.symbol}} | {{option.description}}</a></mat-option>
          </mat-autocomplete>
          <div class="input-group-append">
            <button type="button" class="btn border-0 pe-1 pt-1 pb-1" (click)="onEnter()" >
                          <fa-icon [icon]="faSearch" class="icon"></fa-icon>
<!--              <i class="bi bi-search icon"></i>-->
            </button>
            <button type="reset" class="btn border-0 pe-1 pt-1 pb-1" (click)="reset()">
              <fa-icon [icon]="faX" class="icon"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="row mt-3 mb-4 d-flex align-items-center justify-content-center">
    <div class="col-md-10 col-sm-12 col-lg-9 p-0 m-0">
      <app-result *ngIf="this.ticker" [ticker]="ticker"></app-result>
      <div *ngIf="this.errorMessage" class="mt-5">
        <ngb-alert class="text-center" [type]="this.errorMessage.type" [dismissible]="false">{{this.errorMessage.message}}</ngb-alert>

      </div>
    </div>
  </div>


</div>
